{% macro ansible_script(name, location, depends_vm) -%}

{
  "name": "ansible-script",
  "type": "extensions",
  "location": "{{ location }}",
  "apiVersion": "2015-06-15",
  "dependsOn": [
    "{{ depends_vm }}"
  ],
  "tags": {
    "displayName": "Ansible script"
  },
  "properties": {
    "publisher": "Microsoft.Azure.Extensions",
    "type": "CustomScript",
    "typeHandlerVersion": "2.0",
    "autoUpgradeMinorVersion": true,
    "settings": {
      {#}"fileUris": [
        "https://gist.github.com/ahmetalpbalkan/b5d4a856fe15464015ae87d5587a4439/raw/466f5c30507c990a4d5a2f5c79f901fa89a80841/hello.sh"
      ] #}
      "commandToExecute": "yum -y install mc"
    }{#,
    "protectedSettings": {
      "commandToExecute": "sh hello.sh <password>"
    }#}
  }
}

{%- endmacro %}