{% macro storage_account(name, location, display_name, account_type) -%}
        {
            "type": "Microsoft.Storage/storageAccounts",
            "name": "{{ name }}",
            "apiVersion": "2015-06-15",
            "location": "{{ location }}",
            "comments": "{{ display_name }}",
            "tags": {
                "displayName": "{{ display_name }}"
            },
            "properties": {
                "accountType": "{{ account_type }}"
            }
        }
{%- endmacro %}

{% macro storage_account_url(name) -%}[concat('http://', {{ name }} ,'.blob.core.windows.net')]{%- endmacro %}

{% macro depends_storage_account(name) -%}[concat('Microsoft.Storage/storageAccounts/', {{ name }})]{%- endmacro %}